.experience {
    /* margin-left: 140px; */
    /* margin: 50px 0px; */
   /* padding: 60px 0px; */
    background-color: rgb(128,128,128, 0.101);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.experience hr{
    color: #138781;
    width: 400px;
    margin: 10px auto;
}
.experience h2 {
    font-weight: bold;
    color: #138781;
}
.work {
    padding: 10px 0px;
}
.experience .vertical-timeline-element-title{
    color:#138781;
}
.experience .vertical-timeline-element-subtitle{
    color : #1e1e2c;
}
.experience .vertical-timeline-element-city{
    color: #f29f67;;
}

/* Mobile view */
@media (max-width:600px){
    .experience{
        margin: 0;
        padding: 0;
        margin-top: 50px;
    }
    .experience h2{
        padding-top: 20px;
    }
    .experience hr{
        width: 280px;
    }
    .experience {
    
   }
}