.tech-stack-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tech-section {
  text-align: center;
  margin-bottom: 20px;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.tech-icon {
  position: relative;
  font-size: 2em;
  color: #333; /* Default icon color */
}

.tech-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.75em;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}
